@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

/* How far of a scroll travel within <main> prior to the
link appearing
$scrollLength: 100vh; */

.back-to-top-wrapper {
/* uncomment to visualize "track" */

outline: 1px solid red;
position: absolute;
top: scrollLength;
right: 0.25rem;
/* Optional, extends the final link into the 
footer at the bottom of the page
Set to `0` to stop at the end of `main` */
bottom: -5em;
/* // Required for best support in browsers not supporting `sticky` */
width: 3em;
/* // Disable interaction with this element */
pointer-events: none;
}


.back-to-top-link {
  /* // `fixed` is fallback when `sticky` not supported */
  position: fixed;
  /* // preferred positioning, requires prefixing for most support, and not supported on Safari
  // @link https://caniuse.com/#search=position%3A%20sticky */
  position: sticky;
  /* // reinstate clicks */
  pointer-events: all;
  /* // achieves desired positioning within the viewport
  // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used */
  top: calc(100vh - 5rem);

  /* // ... styles written earlier */
}


/* About */
.card-img {
      border: 10px solid white;
  }

/* FOR TOP TO BUTTOM BTN */
#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 70px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 3px solid white; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0,0,0,0.5); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 7px 17px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 30px; /* Increase font size */
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  box-shadow: 0px 0px 8px 2px #888888;
  transition: all 0.3s ease;
}
#myBtn:hover {
  background-color: rgba(0,0,0,0.6); /* Add a dark-grey background on hover */
  /* color: white; */
  border: 3px solid #999; /* Remove borders */
  transform: scale(1.2);
  }


/* CAROUSEL */
#carouselExampleCaptions{
  height:96vh;
}
#carouselExampleCaptions .carousel-item{
  height:96vh;
}
.d-block{
  height:96vh;
  object-fit: cover;
}
#carouselExampleCaptions .carousel-item .carousel-caption {
  background: rgba(0,0,0,0.5);
}

/*------------- PROJECT-9 CAROUSEL ------------*/

#carouselExampleCaptions2 .carousel-inner .carousel-item .d-block {
  box-shadow: 0px 0px 8px 10px #888888 !important;
}
#carouselExampleIndicators2 .carousel-indicators li {
  background-color: #555 !important;
}
#carouselExampleIndicators2 .carousel-control-prev-icon, #carouselExampleIndicators2 .carousel-control-next-icon{
  background-color: rgba(0,0,0,0.2) !important;
}
/* Consolas, 'Courier New', monospace */







/* -------------Neon Text Reveal Animation Effect--------------- */

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} */
/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
} */
#neon{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: #000;
  overflow: hidden;

}
.box{
  position: relative;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box h2{
  color: #fff;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  text-shadow: 0 0 10px #00b3ff,
  0 0 20px #00b3ff,
  0 0 40px #00b3ff,
  0 0 80px #00b3ff,
  0 0 120px #00b3ff;
}
.lightbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  z-index: 2;
  box-shadow: 0 0 10px #00b3ff,
  0 0 20px #00b3ff,
  0 0 40px #00b3ff,
  0 0 80px #00b3ff,
  0 0 120px #00b3ff;
  animation: animatelightbar 5s linear infinite;
}
@keyframes animatelightbar{
  0%,5%{
      transform: scaleY(0) translateX(0);
  }
  10%{
      transform: scaleY(1) translateX(0);
  }
  90%{
      transform: scaleY(1) translateX(calc(600px - 10px));
  }
  95%,100%{
      transform: scaleY(0) translateX(calc(600px - 10px));
  }
}
.topLayer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  animation: animatetopLayer 10s linear infinite;
}
@keyframes animatetopLayer{
  0%,2.5%{
      transform: translateX(0);
  }
  5%{
      transform: translateX(0);
  }
  45%{
      transform: translateX(100%);
  }
  47.5%,50%{
      transform: translateX(100%);
  }    
  50.001%,52.5%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-100%);
  }
  95%{
      transform: translateX(0%);
  }
  97.5%,100%{
      transform: translateX(0%);
  }   
}

/* ------------- DARK MODE ---------------- */

.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}

/*--------------- Mousemove Animation --------------  */
.mousemove{
  position: relative;
  width: 100%;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #001300;
  overflow: hidden;
  animation: animateColor 5s linear infinite;
}
@keyframes animateColor{
  0%{
      filter: hue-rotate(0deg);
  }
  100%{
      filter: hue-rotate(360deg);
  }
}
.mousemove span{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}
.mousemove span::before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-color: #00ff0a;
  box-shadow: 0 0 10px #00ff0a,
              0 0 20px #00ff0a,
              0 0 40px #00ff0a,
              0 0 60px #00ff0a,
              0 0 80px #00ff0a,
              0 0 100px #00ff0a;
  border-radius: 50%;
  transition: 2s;
  transform: scale(0);
}
.mousemove span:hover::before{
  transition: 0s;
  transform: scale(1);
}

/* ---------------Typing Text----------------- */
.container .row .typingText{
  /* background: rgba(0,0,0,0.2); */
  background-image: url("g (1).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;;
  background-size: cover;

}

/* -------------Media query--------------- */
@media(max-width:770px){
  .container .row .card .card-body .display-3{
    font-size: 50px;
  }
}

@media(max-width:460px){
  .container .row .card .card-body .display-3{
    font-size: 40px;
  }
}
